@using Portfolio.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - Adminstration</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Exp.css" />
    <link rel="stylesheet" href="~/boxicons/css/boxicons.css" />

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg  navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a style="color: #0563bb" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Index</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  style="color: #0563bb"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Organization
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Organization" asp-action="CreateOrganization">Create Organization</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Organization" asp-action="Edit">Edit Organization</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                University
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="University" asp-action="CreateUniversity">Create University</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="University" asp-action="Edit">Edit University</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sector
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Sector" asp-action="CreateSector">Create Sector</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Sector" asp-action="Edit">Edit Sector</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Position
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Position" asp-action="CreatePosition">Create Position</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Position" asp-action="Edit">Edit Position</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Specialty
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Specialty" asp-action="CreateSpecialty">Create Speciality</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Specialty" asp-action="Edit">Edit Speciality</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Course
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Course" asp-action="CreateCourse">Create Course</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Course" asp-action="Edit">Edit Course</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Certificate
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Certificate" asp-action="CreateCertificate">Create Certificate</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Certificate" asp-action="EditCertificate">Edit Certificate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: #0563bb" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Project
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Project" asp-action="CreateProject">Create Project</a>
                                <a style="color: #0563bb" class="nav-link" asp-area="Administration" asp-controller="Project" asp-action="Edit">Edit Project</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div  class="container box-shadow mb-3">
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        &copy; @DateTime.UtcNow.Year. All Rights Reserved Designed by <a href="" target="_blank"><span>Nesho Neshev</span></a>
        <button onclick="topFunction()" id="topButton" class="btn btn-primary btn-sm">Top</button>
        <a href="@GlobalConstants.Facebook" target="_blank" class="facebook" style="float: right"><i class="bx bxl-facebook"></i></a>
        <a href="@GlobalConstants.Github" target="_blank" class="github" style="float: right"><i class="bx bxl-github"></i></a>
        <a href="@GlobalConstants.LinkedIn" target="_blank" class="linkedin" style="float: right"><i class="bx bxl-linkedin"></i></a>
    </footer>
    <script src="typed.js/typed.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
